* {
    margin:0;
    padding:0;
}
/* ======================
   for big screen
   ====================== */
 
/* ======================
   navbar and his elements
   ====================== */
nav.navbar {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 15px;
}

p.logo{
    display:flex;
    padding: 15px;
}

p.logo:hover {
    transform: rotate(360deg) translate(3px, 3px);
    transition: 0.9s;
}

div.menu {
    display: flex;
}

input#close-input {
    display: none;
}

div.label-close-container {
    display: none;
    padding: 10px;
    flex-direction: column;
}

ul.navbar-links {
    display: flex;
    padding: 0 20px 0 0;
    list-style: none;
}

a.navbar-link {
    display: flex;
    color: white;
    padding: 10px;
    text-decoration: none;
}

a.navbar-link:hover {
    text-decoration: underline red;
    transform: rotate(25deg);
    transition: 0.4s;
    background-color:blue;
}

/* ======================
   go-to-top-wrapper and his elements
   ====================== */

.go-to-top-wrapper {
    position: fixed;
    top: 20em;
    left: 80%;
    background-color: gray;
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    height: 40px;
    width: 40px;
    border-radius: 20px;    
}

.go-to-top {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

/* ======================
   service and his elements 
   ====================== */

   .service-menu {
       display: none;
       list-style: none;
       padding: 0;
       background-color: aquamarine;
   }

   .service-link {
       text-decoration: none;
       color: white;
       padding: 10px;
       display: block;
   }

   .service:hover .service-menu{
       display: flex;
       flex-direction: column;
       position: absolute;
   }

   .service-link:hover {
       background-color: blue;
       text-decoration: 2px underline red;
   }

/* ======================
   text-section and his elements 
   ====================== */

.text-section {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ======================
   formular-section and his elements 
   ====================== */

.formular-section {
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
}

.formular-container {  
    padding: 15px;
    width: 320px;
    height: 245px;
    text-align: center;
    background-color:aliceblue;
}

div.double-input {
    display: flex;
    justify-content: center;
}

#send,
#stop {
    padding: 15px;
    border: 0;
}
#send {
    margin: 0 15px 0 0;
    background-color: green;
}

#stop {
    background-color: red;
}

#send:hover,
#stop:hover {
    background-color: orange;
    border: 0;
}

/* ======================
   footer and his elements
   ====================== */
.footer-body {
    display: flex;
    justify-content: center;
}

/* ======================
   for small screen
   ====================== */
@media only screen and (max-width: 768px) {

    nav.navbar,
    div.menu,
    ul.navbar-links,
    a.navbar-link {
        flex-direction: column;
    }

/* ======================
   for navbar-elements
   ====================== */

   nav.navbar p.logo:hover {
    transform: rotate(360deg);
    width: 90px;
    transition: 0.9s;
    }

    div.label-close-container {
        display: flex;
    }

    ul.navbar-links {
        display:none;
    }
    
    label.label-close-input:first-child{
        display: flex;
        margin: 0 0 5px 0;
        height: 2px;
        width: 25px;
        background-color: white;
    }

    label.label-close-input:nth-child(2){
        display: flex;
        margin: 0 0 5px 0;
        height: 2px;
        width: 16px;
        background-color: white;
    }

    label.label-close-input:last-child{
        display: flex;
        margin: 0 0 5px 0;
        height: 2px;
        width: 10px;
        background-color: white;
    }
    
    div.label-close-container:hover label.label-close-input:first-child,
    div.label-close-container:hover label.label-close-input:last-child {
        width: 16px;
        transition: 0.9s;
    }

    input.close-input:checked + div.label-close-container .first {
        transform: rotate(405deg) translate(5px, 5px);
        width: 16px;
        transition: 0.9s;
    }
    
    input.close-input:checked + div.label-close-container .second {
        opacity: 0;
        transition: 0.9s;
    }
    
    input.close-input:checked + div.label-close-container .third {
        transform: rotate(-405deg) translate(5px, -5px);
        width: 16px;
        transition: 0.4s;
    }
    
    input.close-input {
        display: none;
    }
    
    input.close-input:checked + div.label-close-container + .navbar-links{
        display: flex;
        margin: 15px 0 0 0;
    }

    a.navbar-link {
        width: 80px;
    }
    a.navbar-link:hover {
        transform: rotate(-360deg);
    }

/* ======================
   text-section and his elements 
   ====================== */

   .text-section {
    margin: 15px 0 0 0;
   }

/* ======================
   go-to-wrapper and his elements 
   ====================== */

   .go-to-top-wrapper {
       margin: 90px 0 0 0;
   }

/* ======================
   for formular-section-elements
   ====================== */

   .formular-container {
       margin: 10px 0 0 0;
   }

    div.textarea-container .textarea-1 {
        font-size: 16px;
    }
    
    #send,
    #stop {
        padding: 5px;
    }

/* ======================
   service and his elements 
   ====================== */

   .service:hover .service-menu{
    display: block;
    position: static;
    width: 90px;
   }

}